{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="container">
    <div class="jumbotron text-center ">
      <h1 class="display-4 text-primary">Lesson hubs</h1>
    </div>

    <div class="row">
      <div class="col mb-3">
        <div class="card border-primary">
          <div class="card-body text-primary">
            <h5 class="card-title">Video lessons app</h5>
            <p class="card-text">Manages all your video lessons</p>
          </div>
        </div>
        </div>
    </div>

    <div class="row">
      
      <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
        <div class="card border-primary">
          <div class="card-body text-primary">
            <h5 class="card-title">Simple</h5>
            <p class="card-text">Really simple to use</p>
          </div>
        </div>
        </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card border-primary">
          <div class="card-body text-primary">
            <h5 class="card-title">Economical</h5>
            <p class="card-text">Save your mnoney</p>
          </div>
        </div>
        </div>


      </div>

      
    </div> <!-- container row -->
    
  </div> <!-- container main -->
  
</div>
{% endblock %}